*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
}
p{
    color: hsl(201, 11%, 66%);
    font-size: 18px;
}

h2{
    color: hsl(210, 10%, 33%);
    margin-bottom: 20px;
    font-size: 30px;
}

header, main{
    background-color: white;
    max-width: 100%;
}
#hd-img{
     background-image:url("bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hd-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
}
#hd-text h1{
    color: hsl(210, 10%, 33%);
    margin-bottom: 20px;
}
#hd-text p{
    margin-bottom: 30px;
}
.hd-btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hd-btn{
    width: 350px;
    background-color: hsl(171, 66%, 44%);
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 20px;
    border: none;
    border-radius: 50px;
    border-color: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-weight: 600;
    cursor:pointer;
    box-shadow: 0px -4px rgba(0, 0, 0, 0.1) inset;
}
.hd-btn:nth-child(2){
    background-color: hsl(233, 100%, 69%)
}
#main-top-sec{
    margin-top: 150px;
    padding: 0px 35px;
    text-align: center;
}

#main-top-sec h3, #main-bot-sec h3{
    color: hsl(210, 10%, 33%);
    margin-bottom: 10px;
    font-size: 28px;
}
#main-top-sec p{
    margin-bottom: 40px;
}

#main-top-sec img, #main-mid-sec img{
    width: 100%;
    margin: 50px 0px;
}
#main-mid-sec, #main-bot-sec{
    margin-top: 150px;
    padding: 0px 35px;
    text-align: center;
}
#main-bot-sec img{
    margin-bottom: 30px;
    margin-top: 70px;
}
#main-bot-sec-logos{
    padding: 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}
#main-bot-sec-logos img{
    height: 150px;
    width: 200px;
    padding: 40px 0px;
}
#main-bot-sec-dow{
    margin: 150px 0px;
    padding: 0px 35px;
    text-align: center;
}
#main-bot-sec-dow p{
    margin-top: 20px;
    margin-bottom: 50px;
}
footer{
    background-color: hsl(0, 0%, 96%);
    text-align: center;
    padding: 50px 35px;
}
#footer-ul-text{
    margin-top: 50px;
    list-style: none;
}
#footer-ul-text a{
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    font-size: 22px;
}
#footer-ul-text li{
    padding-bottom: 30px;
}
#footer-ul-img{
    margin-top: 50px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
footer img{
    height: 75px;
    width: 75px;
}
#footer-ul-img img{
    height: 35px;
    width: 35px;
}
@media screen and (min-width: 1200px){
    #hd-img{
    background-image:url("bg-header-desktop.png");
    }
    .hd-btn-cont{
        flex-direction: row;
    }
    .hd-btn{
        width: 300px;
        margin:0px 10px;
    }
    #main-top-sec-sub{
        display: flex;
        flex-direction: row;
    }
    #main-top-img{
        margin-right: 50px;

    }
    #main-top-text{
        margin-top: 50px;
        padding: 20px 30px;
        text-align: left;
    }
    #main-mid-sec img, #main-mid-sec p{
        width: 60%;
        text-align: center;
    }
    #main-mid-sec{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main-bot-sec-sub{
        display: flex;
        padding: 0px 100px;
    }
    .main-bot-sec-div{
        width: 33%;
        padding: 0px 15px;
    }
    #main-bot-sec-logos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 200px 50px;
    }
    footer{
        display: flex;
        padding: 50px 100px;
        
        align-items: center;
    }
    #footer-ul-text{
        display: flex;
        flex-flow: row wrap;
        margin-left: 50px;
    }
    #footer-ul-text a{
        padding: 0px 50px;
    }
    footer img{
        margin-right: 50px;
    }
    #footer-ul-img img{
        margin: 0px 20px;
    }
  
}